<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1200">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sakura.css/css/sakura.css" type="text/css">
    <link rel="stylesheet" href="/static/main.css">
</head>

<body>
    <div class="banner-container-fix">
        <!-- Bannerul tău ca element fizic -->
        <img src="/static/titlu-banner.png" alt="Banner">
    </div>
    <nav class="main-nav">
        <div>
            <a href="{% url 'home' %}">Acasă</a>
            <a href="{% url 'create_recipe' %}">Adaugă rețetă</a>
        </div>
        <div>
            {% if user.is_authenticated %}
                <span> Bine ai venit, {{ user.username }}!</span>
                <a href="{% url 'logout' %}">Deconectare</a>
            {% else %}
                <a href="{% url 'login' %}">Conectare / </a>
                <a href="{% url 'register' %}">Înregistrare cont</a>
            {% endif %}
        </div>
    </nav>

    {% block content %} {% endblock %}

</body>
</html>