<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1200">
     <style>
        body {
            padding-top: 210px !important;
        }
    </style>
    <title>{% block title %} {% endblock %}</title>
    <link href="https://googleapis.com" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sakura.css/css/sakura.css" type="text/css">
    <link rel="stylesheet" href="/static/main.css">
</head>

<body>
    <div class="banner-container-fix">
        <!-- Bannerul ca element fizic -->
        <img src="/static/titlu-banner.jpg" alt="Banner">
    </div>
    <nav class="main-nav">
        <div>
            <a href="{% url 'home' %}">🏠︎️ Acasă  </a>
        </div>

        <h1 class="titlu-sub-banner"> 👨🏼‍🍳🍳 Adrian la cratiță 🥣</h1>
        <div>
            {% if user.is_authenticated %}
                <span class="welcome"> Bine ai venit, {{ user.username }}!</span>
                <a href="{% url 'logout' %}">Deconectare ✖️</a>
                <div class="confirm_delete">
                    <a href="{% url 'delete_confirm' %}">Șterge contul 🛑</a>
                </div>
            {% else %}
                <a href="{% url 'login' %}">Conectare / </a>
                <a href="{% url 'register' %}">Înregistrare cont</a>
            {% endif %}
        </div>
    </nav>
        <ul class="retetele-mele">
            {% if user.is_authenticated %}
                <li><a href="{% url 'create_recipe' %}">Adaugă rețetă</a></li>
                <li><a href="{% url 'list_user_recipes' user.pk %}">Rețetele mele</a></li>
            {% endif %}
        </ul>
    {% if messages%}
        <ul class="messages" id="messages">
            {% for msg in messages %}
                <li class="message {{ msg.tags }}">
                    {{ msg }}
                </li>
            {% endfor %}
        </ul>
    <script>
        setTimeout(function() {
            let messageContainer = document.getElementById('messages');
            if (messageContainer) {
                 messageContainer.style.transition = 'opacity 0.5s ease';
                 messageContainer.style.opacity = '0';
                 setTimeout(() => messageContainer.remove(), 500);
            }
        }, 3000);
    </script>
    {% endif %}

    {% block content %} {% endblock %}

</body>
</html>