{% extends "recipes/base.html" %}

{% block title %}
Acasă
{% endblock %}

{% block content %}

<form method="GET" action="" style="margin-bottom: 20px;">
    <!-- Păstrăm sortarea actuală dacă utilizatorul a selectat deja ceva -->
    <input type="hidden" name="by" value="{{ request.GET.by }}">
    <input type="hidden" name="sort" value="{{ request.GET.sort }}">

    <label for="search">Caută rețetă:</label>
    <input type="text" id="search" name="q" value="{{ request.GET.q }}" placeholder="Ex: ciorbă cartofi...">
    <button type="submit">Caută</button>
</form>

<!-- Meniul 1: Alegerea categoriei după care se face sortarea -->
<label for="by">Filtrează după:</label>
<select id="by" onchange="changeSort()">
    <option value="title">Titlu rețetă</option>
    <option value="category">Categorie</option>
    <option value="created_at">Dată</option>
</select>

<!-- Meniul 2: Alegerea direcției  -->
<label for="sort">Sortare:</label>
<select id="sort" onchange="changeSort()">
    <option value="asc">Crescător</option>
    <option value="desc">Descrescător</option>
</select>

<script>
    // 1. Citim valorile actuale din link (URL) când se încarcă pagina
    const params = new URLSearchParams(window.location.search);

    const curentBy = params.get("by");
    const curentSort = params.get("sort");

    // 2. Păstrăm opțiunile selectate vizibile în meniuri după refresh
    if (curentBy) {
        document.getElementById("by").value = curentBy;
    }
    if (curentSort) {
        document.getElementById("sort").value = curentSort;
    }

    // 3. Funcția care trimite ambele valori în URL când schimbi ceva
    function changeSort(){
        const byValue = document.getElementById("by").value;
        const sortValue = document.getElementById("sort").value;

        // Construim linkul final: ?by=categorie&sort=directie
        window.location.href = "?by=" + byValue + "&sort=" + sortValue;
    }
</script>


        <ul>
            {% for r in recipes %}
            <li>{{ r.title }} - {{ r.category }}
                <a href="{% url 'delete_recipe' r.pk %}">🗑️</a>
                <a href="{% url 'update_recipe' r.pk %}">✏️️</a>
            </li>
            {% endfor %}
        </ul>

{% endblock %}