{% extends "recipes/base.html" %}

{% block title %}
{{ recipe.title }}
{% endblock %}

{% block content %}
<div class="recipe-detail">
   <h1>{{ recipe.title }}</h1>
    <h4> Detalii rețetă:</h4>
    <p>{{ recipe.description }}</p>
    <p>{{ recipe.created_at }}</p>
    <p> {{ recipe.category }}</p>
    <p>{{ recipe.cooking_time }}</p>

    <div class="comments">
        <h4>Comentarii:</h4>
        {% for c in comments.all %}
            <div class="comment">
                <p>{{ c.text }}</p>
                <span class="comment-meta">{{ c.created_at|date:"d M, Y " }}</span>
                <strong>{{ c.user.username }}</strong>
            </div>
        {% endfor %}
    <div/>
    {% if user.is_authenticated %}
    <form method="post" action="{% url 'add_comment' recipe.pk %}">
        {% csrf_token %}
        <textarea name="text" rows="3", placeholder="Scrie un comentariu..."></textarea>
        <button type="submit">Salvează comentariul</button>
    </form>
    {% else %}
        <a href="{% url 'login' %}">Conectează-te pentru a scrie comentarii.</a>
    {% endif %}
<div/>
{% endblock %}